.button {
     -fx-background-color: #8599ad;
    -fx-text-fill: white;
}

MenuBar {
     -fx-background-color: #8599ad;
}

#textAreaOriginalCode{
     -fx-control-inner-background: #282c34;
    -fx-text-fill: #bebfc2;
     -fx-font: 18px Consolas;
}

.text-area .text {
     -fx-line-spacing: 0px;
}