.button {
     -fx-background-color: #8599ad;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 1, 0, 0, 0);
}

.help {
     -fx-background-color: #8599ad;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 1, 0, 0, 0);
}

MenuBar {
     -fx-background-color: #8599ad;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#textAreaOriginalCode{
     -fx-control-inner-background: #282c34;
    -fx-text-fill: #bebfc2;
}

.text-area .text {
     -fx-line-spacing: 0px;
}

VBox{
       -fx-background-color: #c3c3c3;
}